.list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
  }
  
  .application-item {
    background-color: #ffffff;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .application-item button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .application-item button:hover {
    background-color: #7c0000;
  }
  