.list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
  }
  
  .application-item {
    background-color: #ffffff;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .application-item button {
    background-color: #4c00ff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .application-item button:hover {
    background-color: #007c3e;
  }  